.Home {
  text-align: center;
}

.Home-logo {
  height: 50vmin;
  pointer-events: none;
}

.Home-body {
  background-image: url(../../src/img/accueil.png);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

